.headerContainer {
  border-bottom: 1px solid green;

  align-items: center;
  text-align: center;
}

.headerContainer img {
  padding: 0;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

/* media query for mobile and tablet */
@media screen and (max-width: 824px) {
  .headerContainer img {
    padding: 0;
    align-items: center;
    text-align: center;
    max-width: 60%;
  }
}
