.button {
  background-color: green;
  border-radius: 8px;
  color: #fcfbf7;
  padding: 8px 16px;
  margin: 8px;
  box-shadow: none;
  border: none;
  outline: none;
}

.button:hover {
  background-color: #eec759;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}
